/* index.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

form {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button, a {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button {
  background-color: #934caf;
  color: white;
}

button:hover {
  background-color: #8345a0;
}

a {
  background-color: #934caf;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: #000000;
}

button:hover {
  background-color: #000000;
}
